@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    font-family: "Open Sans", sans-serif;
}
@font-face {
    font-family: "Bergdool";
    src: url(Bergdool.ttf);
}

h1, h2 {
    font-family: "Bergdool";
    font-size: 80px;
}
