@keyframes desplazar {
    0% {
        margin-left: 0px;
    }
    50%{
        margin-left: 190px;
    }
    100%{
        margin-left: -200px;;
    }
}
@keyframes cambiarColor {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}

.mi-elemento{
    width: 50%;
    border: 3px solid;
    padding: 50px;
    margin: auto;
    box-sizing: content-box;
    justify-items: center;
    animation: cambiarColor infinite 2s;
}
img{
    width: 30vw;
    height: auto;
    padding: 20%;
    animation: desplazar infinite 2s;
}